<form class="form" [formGroup]="formAluno" (ngSubmit)="onSubmit()">
  <div
    class="modal bg-gray-800 text-white p-6 rounded-lg shadow-md text-sm sm:text-md md:text-lg lg:text-xl xl:text-2xl"
  >
    <h2 class="font-bold mb-4">{{ modalTitle }}</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <mat-label class="block text-white font-bold mb-2">Nome</mat-label>
        <input
          matInput
          formControlName="nome"
          class="border rounded w-full py-2 px-3 text-black"
          [value]="alunos?.nome"
        />
      </div>

      <div>
        <mat-label class="block text-white font-bold mb-2"
          >Data de Nascimento</mat-label
        >
        <input
          matInput
          type="date"
          formControlName="dataNascimento"
          class="border rounded w-full py-2 px-3 text-black"
          [value]="alunos?.dataNascimento"
        />

        <span
        *ngIf="formAluno.get('dataNascimento')?.errors?.['forbiddenDate']"
        class="text-red-500"
      >A data de nascimento deve ser pelo menos 8 anos atrás.</span>

      </div>
    </div>

    <div class="flex mt-6 justify-end">
      <div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="formAluno.invalid"
          class="mr-4"
        >
          Salvar
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          color="warn"
          (click)="onClose()"
          type="button"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</form>
