* {
  margin: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
}

.container label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.container input {
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
  transition: opacity 0.3s;
}

.container input:focus {
  opacity: 1;
}
