<div class="container p-4 md:w-2/3 lg:w-3/4 xl:w-4/5">
  <app-entrada-pesquisa
    (filtroAplicado)="filtrarAlunos()"
    class="mb-4"
  ></app-entrada-pesquisa>

  <div class="overflow-x-auto">
    <table class="w-full border-collapse border mb-4">
      <thead>
        <tr class="bg-gray-200">
          <th class="border p-2">Código</th>
          <th class="border p-2">Nome</th>
          <th class="border p-2">Data Nascimento</th>
          <th class="border p-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let row of dadosFormatados; let i = index"
          class="odd:bg-gray-100"
        >
          <td class="border p-2">{{ row.codigo }}</td>
          <td class="border p-2">{{ row.nome }}</td>
          <td class="border p-2">
            {{ row.dataNascimento.toLocaleDateString() }}
          </td>
          <td class="border p-2">
            <input
              type="checkbox"
              [(ngModel)]="row.selecionado"
              class="form-checkbox"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-between">
    <app-botao
      texto="Incluir"
      routerLink="/adicionarAlunos"
      class="w-1/3"
    ></app-botao>
    <app-botao
      texto="Alterar"
      (click)="alterarAlunos()"
      class="w-1/3"
    ></app-botao>
    <app-botao
      texto="Excluir"
      (click)="excluirAlunos()"
      class="w-1/3"
    ></app-botao>
  </div>
</div>
