<aside class="z-0">
  <div class="text-2xl bg-blue-600 h-screen flex items-center justify-center">
    <ul class="list-unstyled components">
      <li class="border-b border-b-white text-center hover:border-none">
        <a href="#">Cursos</a>
      </li>
      <li class="border-b border-b-white text-center hover:border-none">
        <a href="#">Alunos</a>
      </li>
      <li class="border-b border-b-white text-center hover:border-none">
        <a href="#">Matrículas</a>
      </li>
    </ul>
  </div>
</aside>
