.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

form {
  margin-bottom: 1rem;
}

form > label {
  font-weight: bold;
}

form > input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 0.3rem;
}

div.botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .container {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  form > label {
    font-size: 1.2rem;
  }

  form > input {
    font-size: 1rem;
  }
}
