<div class="container">
  <h2>Matrícula</h2>

  <h3>Aluno: {{ alunoSelecionado }}</h3>

  <app-formulario-matricula
    [alunoSelecionado]="alunoSelecionado"
  ></app-formulario-matricula>

  <div>
    <label for="curso">Cursos Matriculados:</label>
    <table>
      <thead>
        <tr>
          <th>Curso</th>
          <th>Data Matrícula</th>
          <!-- <th></th> Remova essa coluna de exclusão -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of dadosFormatados">
          <td>{{ row.curso }}</td>
          <td>{{ row.dataMatricula | date : "shortDate" }}</td>
          <!-- <td class="remove-button" (click)="removeMatricula(i)">X</td> Remova essa coluna de exclusão -->
        </tr>
      </tbody>
    </table>
  </div>

  <div class="botoes">
    <app-botao texto="Voltar" routerLink="/matriculas"></app-botao>
  </div>
</div>
